<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body{% if page.addons contains "fancy_zoom" %} onload="setupZoom()"{% endif %}>

        {% include header.html %}

        <div id="main">
            <div class="meat">
                <main class="page-content" aria-label="Content">
                    <div class="wrapper">
                        {{ content }}
                    </div>
                </main>

            </div>
        </div>

        {% include footer.html %}

    </body>

</html>
